h1.blocktext{
    color: whitesmoke;
    font-family: 'Oleo Script Swash Caps', cursive;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    }
IMG.profile{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 15%;
    width: 25%;
    transform: translate(-50%, -90%);
    display: block;
    border-radius: 50%;
}
#grad1 {
    height: 1000px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#33A9AC,#343779 );
}