* {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v28/6xKtdSZaM9iE8KbpRA_hJVQNYuDyP7bh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    /* text-decoration: none; */
  }
  
.emoticon {
    text-align: center;
    width: 100%;
}

h1.blocktext{
    color: whitesmoke;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: 40%;
    /* position: relative; */
    }
h1.blocktext2{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    top: 30%;
    width: 100%;
}
IMG.profile{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 15%;
    width: 25%;
    transform: translate(-50%, -90%);
    display: block;
    border-radius: 50%;
}
#grad1 {
    height: 1000px;
    background-image: linear-gradient(#33A9AC,#343779 );
}
#grad2{
    height: 1000px;
    /* background-color: red; For browsers that do not support gradients */
    background-image: linear-gradient(#ac5dd3,#301b3a );
}
#grad3{
    height: 1000px;
    /* background-color: red; For browsers that do not support gradients */
    background-image: linear-gradient(#eecda3,#ef629f );
    background-image: linear-gradient(#33A9AC,#343779 );
}
#button {
    position: relative;
    margin: auto;
    width: auto;
    text-align: center;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* #tenth { */
    /* background-color: green;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
#tenth:focus {
    background-color: #7b4397;
}
#ninth {
    background-color: turquoise;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
#eigth {
    background-color: lightgreen;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
#seventh {
    background-color: blue;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#sixth {
    background-color: lightblue;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#fifth {
    background-color: yellow;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#fourth{
    background-color: lightyellow;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#third {
    background-color: orange;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#second {
    background-color: lightcoral;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#first {
    background-color: red;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
} */
/* Contact Screen */

#section {
    width: 100%;
    text-align: center;
    float: left;
}
#circles {
    text-align: center;
}

.Share_Buttons{
    background-color: #c0abe2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    border-radius: 5%;
}

#next-page {
    width: 20%;
    background-color: #c0abe2;
    border:none;
    margin-top: 5%;
    height: 5%;
    border-radius: 10%;
    /* margin: 10px 0px 10px 0px; */
}

a{
    text-decoration: none;
}
.User_Buttons{
    margin: 0 auto;
    background-color: #c0abe2;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 50px;
    border: 3px solid red;
}
p.rating{
    display: block;
    font-size: 50px;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}


.slider {
    -webkit-appearance: slider-vertical;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 60%; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    }
.slider:hover {
    opacity: 100%;
}
.demo, .scale_text{
    color: #c0abe2;
    text-align: center;
    font-size: large;
}

#contact_container {
    text-align: center;
    background-color: #c0abe2;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#icon_buttons {
    padding: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    * {
        width: 100%;
        height: auto;
        font-size: auto;

    }

}