h1.blocktext{
    color: whitesmoke;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    top: 30%;
    width: 100%;
    position: absolute;
    }
h1.blocktext2{
    color: whitesmoke;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    top: 30%;
    width: 100%;
}
IMG.profile{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 15%;
    width: 25%;
    transform: translate(-50%, -90%);
    display: block;
    border-radius: 50%;
}
#grad1 {
    height: 1000px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#33A9AC,#343779 );
}
#grad2{
    height: 1000px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(#33A9AC,#343779 );
}
.center{
    margin: auto;
}
#button {
    position: relative;
    margin: auto;
    width: auto;
    text-align: center;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#tenth {
    background-color: green;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
#ninth {
    background-color: green;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
#eigth {
    background-color: lightgreen;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
#seventh {
    background-color: blue;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#sixth {
    background-color: lightblue;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#fifth {
    background-color: yellow;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#fourth{
    background-color: lightyellow;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#third {
    background-color: orange;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#second {
    background-color: lightcoral;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}

#first {
    background-color: red;
    width: 20%;
    height: 8%;
    border-radius: 20%;
    font-size: 200%;
}
/* Contact Screen */
#section {
    width: 100%;
    text-align: center;
    float: left;
}
#circles {
    text-align: center;
}